NOVA_API_DB=nova_api
NOVA_API_USER=nova_api
NOVA_API_PASS=mz0uDHQJ4CniqRFePUd5VVZZXX67QlK7ht7Lu2si
NOVA_API_DB_HOST=10.210.0.254
PLACEMENT_DB=placement
PLACEMENT_USER=placement
PLACEMENT_PASS=cGF3Ug39lETB0g6dzkC9wvW8SqTF7Fi5sbbNcTSK
PLACEMENT_DB_HOST=10.210.0.254
